# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Ignore everything


# But not these files...

!lib/view/base/html_text_viewer.dart
!lib/view/base/internet_consumer_builder.dart
!lib/view/base/main_button.dart
!lib/view/base/main_circular_progress_adaptive.dart

!lib/view/screens/exams
!lib/view/screens/home/home_screen.dart

!lib/utils/resources
!lib/utils/routes.dart

!lib/providers/quiz_provider.dart


/android/
/assets/
/ios/
/analysis_options.yaml
/pubspec.yaml
/pubspec.lock
/lib/data/model/student_grade.dart
/lib/data/model/language_model.dart
/lib/data/model/group.dart
/lib/data/model/sign_up_model.dart
/lib/data/model/branch.dart
/lib/data/model/lesson_details.dart
/lib/data/model/user_model.dart
/lib/data/model/body/
/lib/data/model/subject.dart
/lib/data/model/message_model.dart
/lib/data/model/class_room.dart
/lib/data/model/config.dart
/lib/data/model/update_profile_model.dart
/lib/data/model/lesson.dart
/lib/data/model/section.dart
/lib/data/model/teacher.dart
/lib/data/repository/splash_repo.dart
/lib/data/repository/grades_repo.dart
/lib/data/repository/branch_repo.dart
/lib/data/repository/subject_repo.dart
/lib/data/repository/class_room_repo.dart
/lib/data/repository/lesson_repo.dart
/lib/data/repository/section_repo.dart
/lib/data/repository/group_repo.dart
/lib/data/repository/profile_repo.dart
/lib/data/repository/auth_repo.dart
/lib/helper/dismiss_keyboard.dart
/lib/helper/enums/
/lib/helper/language_helper.dart
/lib/helper/call_back/
/lib/helper/date_formatter_helper.dart
/lib/helper/push/
/lib/providers/subject_provider.dart
/lib/providers/splash_provider.dart
/lib/providers/group_provider.dart
/lib/providers/section_provider.dart
/lib/providers/grades_provider.dart
/lib/providers/class_room_provider.dart
/lib/providers/internet_provider_provider.dart
/lib/providers/timer_provider.dart
/lib/providers/profile_provider.dart
/lib/providers/auth_provider.dart
/lib/providers/branch_provider.dart
/lib/providers/lesson_provider.dart
/lib/utils/di_container.dart
/lib/utils/snk_bar.dart
/lib/utils/languages.dart
/lib/utils/constants.dart
/lib/view/base/alert_dialog.dart
/lib/view/base/otp_form.dart
/lib/view/base/no_available_data_widget.dart
/lib/view/base/main_text_field.dart
/lib/view/base/image_viewer_screen.dart
/lib/view/base/exam_item_widget.dart
/lib/view/base/subject_card.dart
/lib/view/base/screen_not_found.dart
/lib/view/base/item_option.dart
/lib/view/base/setting_item_widget.dart
/lib/view/screens/no_internet/
/lib/view/screens/chackout/
/lib/view/screens/chat/
/lib/view/screens/splash/
/lib/view/screens/exercises/
/lib/view/screens/sections/
/lib/view/screens/student_grade/
/lib/view/screens/attend/
/lib/view/screens/dashboard/
/lib/view/screens/notification/
/lib/view/screens/lesson/
/lib/view/screens/blocked_user/
/lib/view/screens/quiz/
/lib/view/screens/instructor/
/lib/view/screens/qr_code/
/lib/view/screens/on_boarding/
/lib/view/screens/update_app/
/lib/view/screens/language/
/lib/view/screens/auth/
/lib/view/screens/subjects/
/lib/view/screens/profile/
/lib/view/screens/settings/
